<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        
        <title>FakeData</title>
    </head>
    <body>
        <form method="post" action="{{ url_for('add_fake_record') }}">
            <button class="btn btn-info" type="submit">Add fake record</button></td>
        </form>
        <table class="table table-hover table-condensed">
            <tr class="info">
                <td><b>#</b></td>
                <td><b>username</b></td>
                <td><b>email</b></td>
                <td><b>ipaddr</b></td>
                <td><b>name</b></td>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ record['username'] }}</td>
                <td>{{ record['email'] }}</td>
                <td>{{ record['name'] }}</td>
                <td>{{ record['ipaddr'] }}</td>
            </tr>
            {% endfor %}
        </table>
        </form>
    </body>
</html>